body {
  margin: 0;
}

a {
  text-decoration: none;
}

header {
  height: 80px;
  background-color: #29294a;
}

.headerkiri {
  float: left;
}

.headerlogo {
  padding: 5px 30px;
}

.logo {
  width: 70px;
}

.headerlist li {
  list-style: none;
  float: left;
}

.headerlist a {
  color: black;
  font-size: 17px;
  display: block;
  padding: 30px 10px;
}

.headerlist a:hover {
  background-color: #29294a;
  color: white;
}

.h1 {
  font-size: 24px;
}
